<h1 class="well">Welcome to the Robot Kingdom</h1>

<div class="btn-group-vertical">
<a class="btn btn-info" href="/robots">See All Robots</a>
<a class="btn btn-info" href="/robots/new">Create a New Robot</a>
</div>
