<body id="homepage">
  <div class="container text-center">
    <h1 class="well">Welcome to the Robot Kingdom</h1>
    <div class="nav">
      <div class="container">
        <a class="btn btn-warning btn-lg" href="/robots">See All Robots</a>
        <a class="btn btn-success btn-lg" href="/robots/new">Create a New Robot</a>
      </div>
    </div>
  </div>
</body>
