<h2>Bring on the singularity and make a new robot!</h2>
<h4>Enter some robot info:</h4>
<form action="/robots" method="post">
  <p>Name: <input type='text' name='robot[name]'></p>
  <p>City: <input type='text' name='robot[city]'></p>
  <p>State: <input type='text' name='robot[state]'></p>
  <p>Avatar: <input type='text' name='robot[avatar]'></p>
  <p>Birthdate: <input type='text' name='robot[birthdate]'></p>
  <p>Date Hired: <input type='text' name='robot[date_hired]'></p>
  <p>Department: <input type='text' name='robot[department]'></p>
  <input value='Make Robot' type='submit'>
</form>
