<div class="well">
<h2>Bring on the singularity and make a new robot!</h2><br>
<h4>Enter some robot info:</h4>
</div>
<form class="form-group form-inline" action="/robots" method="post">
  <p>Name: <input class="form-control" type='text' name='robot[name]'></p>
  <p>City: <input class="form-control" type='text' name='robot[city]'></p>
  <p>State: <input class="form-control" type='text' name='robot[state]'></p>
  <p>Avatar: <input class="form-control" type='text' name='robot[avatar]'></p>
  <p>Birthdate: <input class="form-control" type='text' name='robot[birthdate]'></p>
  <p>Date Hired: <input class="form-control" type='text' name='robot[date_hired]'></p>
  <p>Department: <input class="form-control" type='text' name='robot[department]'></p>
  <button type='submit'>Make Robot</button>
</form>
